
.biometrics--preview-screen {

}



.component--card-preview-tab {

  .tab {
    padding: 20px;
    // font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    // color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:hover {
      background: rgba(0,0,0,0.09);
    }
    &.active {
      background: #2a3e4b;
      color: #FFF;
    }
  }


}






