$red: #FF3B3E;
$warn: #ffe09f; // F5B328  #f3bc4a
$light-gray: #D2DCE3;
$dark-gray: #6C7B86;
$dark: #2A3E4B;
$green: #43ca73;
$white: #ffffff;
$dark-top: #3F525E;
$light-gray-rgba: rgba(210, 220, 227, 1);

$scanNormal: #6C7B86;
$scanSuccess: #43ca73;
$scanWarning: #D9A420;
$scanAnnotated: #354c5a; //#CCCCCC;
$scanEmpty: #21303B;
